/* line 1, templates/_eventos.scss */

body {
    font-family: "Roboto", sans-serif !important;
    overflow-x: hidden;
}


/* line 1, templates/_global.scss */

html, body {
    height: auto !important;
    min-height: 100% !important;
}


/* line 1, templates/_tramites.scss */

html {
    overflow-x: hidden;
}


/* line 5, templates/_tramites.scss */

main {
    min-height: -webkit-calc(100vh - 107px);
    min-height: -moz-calc(100vh - 107px);
    min-height: calc(100vh - 107px);
}


/* line 247, templates/_dewordpress.scss */

.footer-fijo {
    margin: 0px !important;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: -webkit-calc(100vh - 107px);
    min-height: -moz-calc(100vh - 107px);
    min-height: calc(100vh - 107px);
    width: 100%;
}

.img-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/*input {
  font-size: 14px !important;
}*/

.holder{
  border-radius: 4px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}


main {
    height: -moz-calc(100% - 72px) !important; /* Firefox */
    height: -webkit-calc(100% - 72px) !important; /* Chrome, Safari */
    height: calc(100% - 72px) !important; /* IE9+ and future browsers */
}
